.Me {
}

.Me__Project {
  cursor: pointer;
  margin: 8px;
  border: 1px dashed black;
  border-radius: 0;
  min-width: 5vw;
  padding: 8px;
  background-color: black;
  color: white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  transition-property: border-color, background-color, color;
  transition-duration: .25s;

  &:hover,
  &:focus,
  &:active {
    background-color: white;
    color: black;
  }

  .Dark & {
    border-color: white;
    background-color: white;
    color: black;

    &:hover,
    &:focus,
    &:active {
      background-color: black;
      color: white;
    }
  }

  @media (max-width: 767px) {
    min-width: 10vw;
    padding: 10px;
  }

  @media (max-width: 575px) {
    min-width: 15vw;
  }
}
