.Project {
  &.Card {
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    &.Card {
      aspect-ratio: 2;
    }
  }

  @media (max-width: 1023px) {
    grid-area: 3 / 1 / 3 / 3;
  }

  @media (max-width: 767px) {
    order: 1;

    &.Card {
      aspect-ratio: 1.5;
    }
  }

  @media (max-width: 575px) {
    &.Card {
      aspect-ratio: .75;
    }
  }

  @media (min-width: 1024px) {
    grid-area: 2 / 1 / 2 / 3;
  }
}

.Project__Intro {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 20%;
    max-height: 128px;
    object-fit: contain;
    object-position: center;
  }

  > p {
    flex: 1;
  }

  @media (min-width: 576px) {
    gap: 20px;
  }

  @media (min-width: 1024px) {
    img {
      width: 25%;
      max-height: 192px;
    }
  }
}
