.App {
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  min-height: 100vh;
  transition-property: background-color, color;
  transition-duration: .5s;

  &.Dark {
    background-color: black;
    color: white;
  }
}

.Card {
  position: relative;
  width: calc((100vw / 3) - 84px);
  height: calc(50vh - 84px);
  margin: 20px;
  border: 2px solid black;
  padding: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: border-color .5s;

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 4px;
  }

  .Dark & {
    border-color: white;
  }

  @media screen and (max-width: 1024px) {
    width: calc(50vw - 84px);
    height: calc(50vh - 84px);
  }

  @media screen and (max-width: 768px) {
    width: calc(100vw - 84px);
    height: calc(50vw - 84px);
  }

  @media screen and (max-width: 640px) {
    height: calc(45vh - 84px);
  }
}

.Card__Heading {
  position: absolute;
  right: -2px;
  top: -2px;
  margin: 0;
  border: 2px solid white;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: right;
  transition-property: border-color, background-color, color;
  transition-duration: .5s;

  .Dark & {
    border-color: black;
    background-color: white;
    color: black;
  }

  @media screen and (max-width: 640px) {
    padding: 15px 20px;
  }
}

.Card__Content {
  height: calc(100% - 70px);
  overflow: auto;
  overflow-wrap: break-word;
  padding-top: 70px;

  @media screen and (max-width: 640px) {
    height: calc(100% - 60px);
    padding-top: 60px;
  }
}
