.App {
  display: flex;
  flex-direction: column;
  grid-template: repeat(3, auto) / repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  transition-property: background-color, color;
  transition-duration: .5s;

  &.Dark {
    background-color: black;
    color: white;
  }

  @media (min-width: 576px) {
    gap: 40px;
    padding: 40px;
  }

  @media (min-width: 768px) {
    display: grid;
  }

  @media (min-width: 1024px) {
    height: 100vh;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
}

.Card {
  position: relative;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: border-color .5s;

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 4px;
  }

  .Dark & {
    border-color: white;
  }

  @media (max-width: 1023px) {
    aspect-ratio: 1;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    aspect-ratio: 2;
  }
}

.Card__Heading {
  position: absolute;
  right: -2px;
  top: -2px;
  margin: 0;
  border: 2px solid white;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: right;
  transition-property: border-color, background-color, color;
  transition-duration: .5s;

  .Dark & {
    border-color: black;
    background-color: white;
    color: black;
  }

  @media (max-width: 575px) {
    padding: 15px 20px;
  }
}

.Card__Content {
  height: 100%;
  overflow: auto;
  overflow-wrap: break-word;
  padding-top: 70px;

  @media (max-width: 575px) {
    padding-top: 60px;
  }
}

.App__Theme {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: black;
  font-size: 24px;
  transition-property: border-color, background-color;
  transition-duration: .5s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  .Dark & {
    border-color: black;
    background-color: white;
  }

  @media (min-width: 576px) {
    bottom: 60px;
    right: 60px;
  }
}
